/papers/
/codes/*.docx
/results/
/logs/
__pycache__/
/test_results/
/comprehensive_results/
/comparison_results/
/wandb/
.DS_Store
/pinn*/
/Multiverse/
/invivo_predictions/
/invivo_preprocessed/
/prediction_maps/
/preprocessed_data/
/raw_invivo_data_validated/
/final_maps/
/evaluation_results/
/data/
/final_training_run*/
/final_benchmark_results/
/results_all_versions/
/my_ablation_study_results/
/disentangled*/
/prod_*/
/diagnostic*/
/xu_figure*/
/results*/
# Ignore Model Weights (Heavy!)
*.pt
*.pth
*.ckpt
trained_models/

# Ignore Logs
*.out
*.err
*.png
slurm_logs/
__pycache__/

# Ignore Data files that aren't for the dashboard
*.npy
*.nii.gz