# FILE: config/v5_stage1_8hr_prod.yaml
training:
  model_class_name: "DisentangledASLNet"
  encoder_type: "physics_processor"
  hidden_sizes: [256, 128, 128]

  dropout_rate: 0.1
  weight_decay: 0.0001
  learning_rate: 0.0003
  
  # OPTIMIZATION FOR T4 GPU RESIDENT DATA
  batch_size: 16384   # Doubled for saturation
  n_ensembles: 1 
  
  # With dynamic noise, we need more passes to see variety.
  # Speed will be very fast, so 50 epochs is quick.
  n_epochs: 50
  # steps_per_epoch: REMOVED (calculated automatically)
  
  validation_steps_per_epoch: 25
  early_stopping_patience: 10 
  early_stopping_min_delta: 0.0

  norm_type: "batch"
  transformer_d_model_focused: 32
  transformer_nhead_model: 4
  transformer_nlayers_model: 2

data:
  use_offline_dataset: true
  offline_dataset_path: "asl_offline_dataset_10M_baseline_v1"
  num_samples_to_load: 10000000 
  pld_values: [500, 1000, 1500, 2000, 2500, 3000]

simulation:
  T1_artery: 1850.0
  T_tau: 1800.0
  T2_factor: 1.0
  alpha_BS1: 1.0
  alpha_PCASL: 0.85
  alpha_VSASL: 0.56

wandb:
  wandb_project: "asl-multiverse-baseline-v1"
  wandb_entity: "adikondepudi"